body {
  background: #FFCF99;
  color: #394648;
  font-family: "FONT NEVAN DOESNT HAVE", system-ui, sans-serif;
}

nav {
  background-color: #A22C29;
  display: flex;
}

nav a {
  padding: 20px;
}

nav .active {
  background: rgba(225,255,255,0.75);
}
